<h1>Ｍｙツイート一覧</h1>
<div class="tweets_index">
  <div class="container">
    <% @tweets.each do |tweet| %>
      <div class="tweets_index_item">
        <div class="tweet_content">
          <p><%= tweet.content %></p>
        </div>
        <div class="tweet_menu">
          <%= link_to '詳細を確認', tweet_path(tweet.id) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to '新しいツイートを投稿する', new_tweet_path %>
