<h1>ツイート詳細画面</h1>
<div class="tweet_show_item">
  <!-- <div class="tweet_show"> -->
  <p><%= @tweet.content %></p>
  <!-- </div> -->
</div>
<div class="btn">
  <%= link_to '一覧に戻る', tweets_path %>
</div>
